/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: dark) {
  :root:not(.theme_dark) {
    --accent-color: #FF0070;
    --bg-color: #000028;
    --main-header-color: #DB00FF;
    --section-header-text-color: #000028;
    --text-color: #F1B2CE;
    --header-bg-image: url(../images/cover-image-dark.png);
    --border-color: #FF0070;
  }
}

.page.theme_dark {
  --accent-color: #FF0070;
  --bg-color: #000028;
  --main-header-color: #DB00FF;
  --section-header-text-color: #000028;
  --text-color: #F1B2CE;
  --header-bg-image: url(../images/cover-image-dark.png);
  --border-color: #FF0070;
}

.page.theme_dark .article__header.title-decor {
  --section-header-text-color: #000028;
}

.page.theme_dark  .header-sub-header__text.title-decor {
  --section-header-text-color: #000028;
}