/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: dark) {
  :root:not(.theme_dark) {
    --accent-color: #FF0070;
    --bg-color: #000028;
    --main-header-color: #DB00FF;
    --section-header-text-color: #FF0070;
    --heading-text-color-with-bg: #000028;
    --text-color: #F1B2CE;
    --header-bg-image: url(../images/cover-image-dark.png);
    --border-color: #FF0070;
    --hover-color: rgba(255, 0, 112, 0.4);
  }
}

.page.theme_dark {
  --accent-color: #FF0070;
  --bg-color: #000028;
  --main-header-color: #DB00FF;
  --section-header-text-color: #FF0070;
  --heading-text-color-with-bg: #000028;
  --text-color: #F1B2CE;
  --header-bg-image: url(../images/cover-image-dark.png);
  --border-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.4);
}

.page.theme_dark .article__link:focus-visible {
  outline: 1px solid #F1B2CE;
}