/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root:not(.theme_light) {
    --accent-color: #FF8DCB;
    --bg-color: #FFF1F7;
    --main-header-color: #FFC2E6;
    --section-header-text-color: #353430;
    --text-color: #353430;
    --header-bg-image: url(../images/cover-image-light.png);
    --border-color: #353430;
  }
}

.page.theme_light {
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --main-header-color: #FFC2E6;
  --section-header-text-color: #353430;
  --text-color: #353430;
  --header-bg-image: url(../images/cover-image-light.png);
  --border-color: #353430;
}

.page.theme_light .header__theme-menu-button {
  color: var(--text-color);
}

.page.page.theme_light .header__decoration-rec {
  display: none;
}
